@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Al Parcial 2</h1>
    <p>Ejercicio CRUD Biblioteca</p>
</div>
<div>
    <img src="https://ultahost.com/blog/wp-content/uploads/2023/03/Top-10-Front-End-Libraries-to-Use-When-Creating-Websites-800x451.png" alt="Imagen Inventario" class="d-block mx-auto" />
</div>
<div class="container text-center mt-3">
    <footer>
        <p>Proyecto Realizado Por Walter Alberto Mijangos Pineda, Carnet: 2300273</p>
    </footer>
</div>
