@{
    ViewData["Title"] = "Privacidad";
}
<h1>@ViewData["Title"]</h1>

<div>
    <img src="https://www.shutterstock.com/image-vector/futuristic-cyber-security-illustration-featuring-260nw-2483495971.jpg" alt="Imagen Privacidad" class="d-block mx-auto" />
</div>

